<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMA_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SMA_Application.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserType" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="DepartmentName" serializeAs="String">
                <value>Physical Planning Department</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>LAND ADMINISTRATION PROJECT (LAP II)</value>
            </setting>
            <setting name="RegionName" serializeAs="String">
                <value>Ashanti Region</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Telephone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoginDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginTimes" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultImage" serializeAs="String">
                <value>bgImage.png</value>
            </setting>
            <setting name="LogoutTime" serializeAs="String">
                <value />
            </setting>
        </SMA_Application.Properties.Settings>
    </userSettings>
</configuration>